#Board-Container
{
    min-height: 0;
    /* height: 500px; */
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    /* grid-auto-rows: 100px; */
    flex: 0 1 auto;
    aspect-ratio: 1 / 1;
}

#Board-Container > div
{
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    padding: 4%;
    justify-content: center;
}

.Light-Square
{
    background-color: white;
}

.Dark-Square
{
    background-color: lightsteelblue;
}

#Board-Container svg
{
    /* padding: 10px; */
    aspect-ratio: 1 / 1;
    height: 100%;
    width: 100%;
}

.person-svg
{
    height: 26px;
    width: 26px;
    fill: darkblue;
}

section.player-info
{
    height: 50px;
    display: block;
}

.person-svg-wrapper
{
    padding: 2px;
    background-color: lightgrey;
    display: flex;
    align-items: center;
    justify-content: center;
    /* aspect-ratio: 1 / 1; */
    border-radius: 19px;
    border: solid black 4px;
}

.player-info
{
    display: flex;
    flex-direction: row;
    gap: 10px;
    background-color: darkkhaki;
    padding: 10px;
    align-items: center;
}

main
{
    display: flex;
    height: 100vh;
    max-height: 100vh;
    flex-direction: column;
    align-items: center;
}

html, body
{
    height: 100vh;
    width: 100vw;
    max-width: 100vw;
    max-height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    box-sizing: border-box;
}

#player2, #player1
{
    flex: 0 0 auto;
}

